.description {
  max-width: 1250px;
  margin: 0 auto;

  text-align: center;
  font-weight: 700;
  font-family: "Rubik-Bold", Helvetica, Arial, sans-serif;
  margin-top: 50px;
  font-size: 36px;
  line-height: 46px;
  color: #de0a0a;
}
